.footer-social {

  &__title {
    margin-bottom: 16px;
    @include mobile {
      margin-bottom: 8px;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px;

    @include tablet {
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__list {
    display: flex;
    gap: 10px;
  }
  &__link {
    width: 24px;
    height: 24px;
    transition: color 0.3s ease-in-out;
  }
  &__link--vk:hover {
    color: #0077FF;
  }
  &__link--tg:hover {
    color: #0088cc;
  }
}