.hero {
  margin-bottom: 80px;
  background-color: $dark-grey;
  background-position: center;
  background-size: cover;
  color: $second-color;

  @include tablet {
    margin-bottom: 64px;
  }
  @include mobile {
    margin-bottom: 24px;
  }

  &__women {
    background-image: url("./../img/bg-women.jpg");
    @include laptop {
      background-image: url("./../img/bg-women-laptop.jpg");
    }
    @include tablet {
      background-image: url("./../img/bg-women-tablet.jpg");
    }
    @include mobile {
      background-image: url("./../img/bg-women-mobile.jpg");
    }
  }
  &__men {
    background-image: url("./../img/bg-men.jpg");
    @include laptop {
      background-image: url("./../img/bg-men-laptop.jpg");
    }
    @include tablet {
      background-image: url("./../img/bg-men-tablet.jpg");
    }
    @include mobile {
      background-image: url("./../img/bg-men-mobile.jpg");
    }
  }
  &__content {
    padding: 172px 0 86px;
    max-width: 590px;

    @include tablet {
      padding: 156px 0 50px;
      max-width: 410px;
    }
    @include mobile {
      padding: 76px 0 24px;
    }
  }
  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 24px;
      font-size: 30px;
    }
    @include mobile {
      margin-bottom: 16px;
      font-size: 20px;
    }
  }
  &__link {
    display: inline-block;
    padding: 14px 40px;
    border: 1px solid $second-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;

    @include tablet {
      padding: 12px 40px;
      font-size: 10px;
      line-height: 12px;
    }

    &:hover {
      background-color: $dark-grey;
    }
    &:focus {
      background-color: $focus;
      outline: none;
    }
  }
}
