.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__arrow--start {
    order: 1;
  }
  &__arrow--end {
    order: 3;
  }
  &__list {
    order: 2;
    display: flex;
    gap: 7px;
    font-size: 14px;
    line-height: 17px;
    color: $grey;

    @include tablet {
      font-size: 10px;
    line-height: 12px;
    }
  }
  &__link--active {
    padding: 0 5px 7px 4px;
    color: $main-color;
    border-bottom: 1px solid $main-color;
    cursor: default;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    color: $main-color;
  }
  &__arrow--disabled {
    color: $grey;
    cursor: default;
  }
}