.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;

  &__list {
    display: flex;
    gap: 8px;
    padding-top: 3px;
    font-size: 14px;
    line-height: 17px;
    color: $grey;

    @include tablet {
      padding-top: 6px;
      font-size: 10px;
      line-height: 12px;
    }
  }
  &__link--active {
    display: block;
    padding-bottom: 7px;
    width: 16px;
    color: $main-color;
    border-bottom: 1px solid $main-color;
    cursor: default;

    @include tablet {
      width: 10px;
    }
  }
  &__arrow {
    width: 24px;
    height: 24px;
    color: $main-color;
  }
  &__arrow--disabled {
    color: $grey;
    cursor: default;
  }
}