.search {
  display: none;
  margin-bottom: 36px;

  @include laptop {
    margin-bottom: 24px;
  }
  &--show {
    display: block;
  }
  &__form {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 46px;
    @include tablet {
      height: 36px;
    }
  }
  &__input {
    flex-grow: 1;
    height: 100%;
    padding: 0 24px;
    border: 1px solid $grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    @supports not selector(:focus-visible) {
      &:focus {
        border: 1px solid $main-color;
      }
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: none;
      border: 1px solid $main-color;
    }
    &::placeholder {
      opacity: 0.4;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
    @include tablet {
      padding: 0 16px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__btn {
    flex-basis: 141px;
    height: 100%;
    background-color: $main-color;
    color: $second-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    @include tablet {
      flex-basis: 124px;
      font-size: 10px;
      line-height: 12px;
    }
    @include mobile {
      flex-basis: 100px;
    }
  }
}